body{
    text-align: center;
    border: 2px solid black;
    background: blueviolet;
    color: aqua;
    margin: 0 600px;
}
a{
    color: black;
    font-size: 25px;
}
header{
    background-image: url(images/foodsymbol.png);
    color: black;
}
ul#root1{
    display: inline-block;
    text-align: left;
}
table, th, tr, td, caption{
    font-size: large;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#root2{
    display: inline-block;
    text-align: left;
}
#opening-hours{
    font-family: 'Smokum', cursive;
    font-size: large;
    color: black;
}
#root3{
    display: inline-block;
    text-align: left;
}